#main-container {
	justify-content: space-around;
	flex-direction: column;
	flex-wrap: wrap;
}

div.class-folder {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

a.class-bookmark-link, button.class-bookmark-folder-link {
	display: flex;
	flex-direction: column;
	margin-left: 7px;
	min-width: 8rem;
	min-height: 8rem;
	max-width: 8rem;
	max-height: 8rem;
	justify-content: flex-start;
	border-radius: 1rem;
	text-align: center;
	word-wrap: break-word;
	overflow: hidden;
}

a.class-bookmark-link:hover, button.class-bookmark-folder-link:hover {
	overflow: visible;
	transition: max-height .25s;
	max-height: 50rem;
}

button.class-bookmark-folder-link {
	margin-left: 0px;
	align-items: center;
}

img.class-favicon {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0.8rem;
	margin-bottom: 0.8rem;
	height: 32px;
	width: 32px;
}

div.class-bookmark-folder {
	margin-left: 7px;
}


i {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

i:before {
	font-size: 2rem;
}

div.class-folder > h2 {
	flex-basis: 100%;
	margin-top: 16px;
	margin-bottom: 3px;
	text-align: center;
}